Body {
    font-family: 'Exo', sans-serif;
    
}


header {
    
    background-color: red;
    height: 20em;
    background-image: url(../images/header_placeholder.jpg);
    background-position:center;
    background-size: 150%;

    
}

.header_nav_ul {
    
display:flex;
    background-color: #382E36;
    height: 4em;

    
}

.header_nav_ul_li {
  flex-grow: 1;  
    color: white;
    justify-content: center;
    margin-top:2.2em;
    font-size: 65%;
    list-style: none;
    

   
}

header nav h1 {
  display:flex;
    justify-content: center;
    align-content: center;
    margin-top: 5em;
    color: white;
    
}
   


header nav h2 {
  display:flex;
    justify-content: center;
    border-style: solid;
    border-color: white;
    border-radius: 0.2em;
    border-width: 0.2px;
    margin-right: 40%;
    margin-left: 40%;
    font-size:1em;
    color: white;
    
}

.usp_schema {
    
    display: flex;
    justify-content: center;
    background-color: #EFEFED;
    height: 12em;
}

.usp_schema article {
    
    
    
    background-color: white;
    justify-content: center;
    margin-top:1.1em;
    margin-bottom: 1.1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-radius: 0.3em;
    flex-grow: 1;
    text-align: center;
    
    
    
}

.icon01 {height:2em;
    margin-top:2em;

}

!------hambuger------!

#menu-bar {height: 30em;
   

}

#menu{
    
    
   position: absolute;
    top: 5%;
    right: 10%;
    width: 35px;
    height: 30px;
    z-index: 10;
    
   
   
    
}


.bar {
    
    height: 4px;
    width: 100%;
    background-color: white;
    justify-content: center;
    border-radius: 5px;
    transition: 0.3s ease-out;
    z-index: 1;
}

#bar1 {
    transform: translateY(-4px);

    z-index: 1;
 
}

#bar3 {
   
    transform: translateY(4px); 

}

.change .bar {background-color: white;

}
.change #bar1 {transform: translateY(4px) rotate(-45deg);}
.change #bar3 {transform: translateY(-4px) rotate(45deg);}
.change #bar2 {opacity: 0;}







@media(min-width: 1000px) {
    
 #menu{
    
    
    display: none;
    
   
    
}   
}

@media(max-width: 1000px) {
    
    .header_nav_ul_li {display: none;}




}




.nav-hidden {
  background-color: #382E36;
    width: 30%;
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
    list-style: none;
    height: 513px;
    display: none;
    
       
}

.change {
    display:block;


}

.nav-hidden-item1 {
  
    margin-left: auto;
    
    transform: translateY(70px);
}
   

.nav-hidden-item2 {
   transform: translateY(85px)
}

.nav-hidden-item3 {
     transform: translateY(100px)
}

.nav-hidden-item4 {
transform: translateY(115px)
}

.nav-hidden-item5 {
    transform: translateY(130px)
}

.nav-hidden-item6 {
     transform: translateY(145px)
}



.mainarea { 
  
    background-color: lightblue;
    height: 40em;
}

.mainarea h1 {  
display: flex;  
color: #292B2C;
justify-content: center;
}

.mainarea p {  
display: flex;  
color: #292B2C;
justify-content: center;
text-align: center;
}

.icon_learnmore {
    
    display:flex;
    justify-content: center;
    border-style: solid;
    border-color: #292B2C;
    border-radius: 0.2em;
    border-width: 0.2px;
    margin-right: 40%;
    margin-left: 40%;
    font-size:1em;
    color: #292B2C;
    
    
}


 
